dev/nop5/round_1/logs/log_hmmsearch.out
dev/nop5/round_1/results/iqtree/nop5_round-1_90-90_rep_seq_kingdom=euk-arch_cured.mafft-add_gappy=0.98.afa.clipkit.ckp.gz
dev/nop5/round_1/results/iqtree/nop5_round-1_90-90_rep_seq_kingdom=euk-arch_cured.mafft-add_gappy=0.98.afa.clipkit.mldist
dev/nop5/round_1/results/iqtree_uncured/results/nop5_round-1_80-80_kingdom=euk-arch_rep_seq_mafft-add.afa_clipkit=0.98.clipkit.ckp.gz
dev/nop5/round_1/results/iqtree_uncured/results/nop5_round-1_80-80_kingdom=euk-arch_rep_seq_mafft-add.afa_clipkit=0.98.clipkit.splits.nex
dev/nop5/round_1/results/iqtree_uncured/results/nop5_round-1_80-80_kingdom=euk-arch_rep_seq_mafft-add.afa_clipkit=0.98.clipkit.mldist
dev/nop5/round_1/results/nop5_round-1_80-80_kingdom=euk-arch_rep_seq_mafft-add.afa
dev/nop5/round_1/results/nop5_round-1_90-90_rep_seq_kingdom=euk-arch.mafft-add.afa
dev/nop5/round_1/results/check_prp31_nop5_nop58/log_hmmsearch.out
dev/nop5/round_1/results/nop5_round-1_90-90_rep_seq_kingdom=euk-arch.afa
dev/nop5/round_1/results/nop5_round-1_90-90_rep_seq_kingdom=euk-arch_cured.mafft-add.afa
dev/nop5/round_2/results/reannotate_with_pfam/log_hmmsearch.out
dev/nop5/round_2/results/muscle/results/nop5_round-2_80-80_algo=muscle.none.0.afa
dev/nop5/round_2/results/muscle/results/nop5_round-2_80-80_algo=muscle.acb.0.afa
dev/nop5/round_2/results/muscle/results/nop5_round-2_80-80_algo=muscle.bca.0.afa
dev/nop5/round_2/results/muscle/results/nop5_round-2_80-80_algo=muscle.abc.0.afa
dev/nop5/round_2/results/nop5_no-prp31_round-2_hits_1e-5_len-300-700_kingdom=all_4242-5570.afa
dev/nop5/round_2/results/nop5_no-prp31_round-2_hits_1e-5_len-300-700_kingdom=all.afa
dev/nop5/round_2/log_hmmsearch.out
dev/is110/4_round_vs_archaea/log_hmmsearch.out
dev/is110/3_round/results/is110_round-3_50-50_all_seqs.fasta
dev/is110/3_round/results/is110_round-3_hits_1e-5_kingdom=all.tsv
dev/is110/3_round/results/is110_round-3_domtbl_kingdom=all.tsv
dev/is110/3_round/results/is110_round-3_domtbl_kingdom=bact.tsv
dev/is110/3_round/results/is110_round-3_60-60_all_seqs.fasta
dev/is110/3_round/results/is110_round-3_hits_1e-5_len-200-100_80-80_all_seqs.fasta
dev/is110/3_round/results/muscle/results/is110_round-3_80-80_algo=muscle.bca.0.afa
dev/is110/3_round/results/muscle/results/is110_round-3_80-80_algo=muscle.none.0.afa
dev/is110/3_round/results/muscle/results/is110_round-3_80-80_algo=muscle.acb.0.afa
dev/is110/3_round/results/muscle/results/is110_round-3_80-80_algo=muscle.abc.0.afa
dev/is110/3_round/results/is110_round-3_pftblout_kingdom=bact.tsv
dev/is110/3_round/results/is110_round-3_60-60_rep_seq.afa
dev/is110/3_round/results/is110_round-3_hits_1e-5_len-200-100_80-80_rep_seq.afa
dev/is110/3_round/results/is110_round-3_hits_1e-5_len-200-1000_kingdom=all.faa
dev/is110/3_round/results/is110_round-3_hits_1e-5_kingdom=all.faa
dev/is110/3_round/results/is110_round-3_hits_kingdom=bact.tsv
dev/is110/3_round/results/is110_round-3_60-80_all_seqs.fasta
dev/is110/3_round/log_hmmsearch.out
dev/is110/2_round/results/iqtree/is110_round-2_80-80_rep_seq_gappy=0.98.afa.clipkit.ckp.gz
dev/is110/2_round/results/iqtree/is110_round-2_80-80_rep_seq_gappy=0.98.afa.clipkit.mldist
dev/is110/2_round/results/is110_round-2_80-80_all_seqs_len-200-1000.fasta
dev/is110/2_round/results/is110_round-2_hits_1e-5_len-200-1000_kingdom=all.faa
dev/is110/2_round/results/is110_round-2_hits_1e-5_kingdom=all.tsv
dev/is110/2_round/results/muscle/results/is110_round-2_1e-5_len-200-1000_80-80_algo=muscle.abc.0.afa
dev/is110/2_round/results/muscle/results/is110_round-2_1e-5_len-200-1000_80-80_algo=muscle.bca.0.afa
dev/is110/2_round/results/muscle/results/is110_round-2_1e-5_len-200-1000_80-80_algo=muscle.none.0.afa
dev/is110/2_round/results/muscle/results/is110_round-2_1e-5_len-200-1000_80-80_algo=muscle.acb.0.afa
dev/is110/2_round/results/is110_round-2_hits_1e-5_kingdom=bacteria.faa
dev/is110/2_round/results/is110_round-2_pftblout_kingdom=bacteria.tsv
dev/is110/2_round/results/is110_round-2_80-80_rep_seq_len-200-1000_cured.afa
dev/is110/2_round/results/is110_round-2_domtbl_kingdom=bacteria.tsv
dev/is110/2_round/results/is110_round-2_hits_1e-5_kingdom=all.faa
dev/is110/2_round/results/is110_round-2_hits_kingdom=bacteria.tsv
dev/is110/2_round/results/is110_round-2_80-80_rep_seq_len-200-1000.afa
dev/is110/2_round/log_hmmsearch.out
dev/is110/4_round/results/is110_round-4_hit-region_1e-5_len-200-1000_qcov-gt-0.30_kingdom=all.faa
dev/is110/4_round/results/is110_round-4_hit-region_80-80_kingdom=all_all_seqs.fasta
dev/is110/4_round/results/is110_round-4_domtbl_kingdom=all.tsv
dev/is110/4_round/results/raw/is110_round-4_pftblout_kingdom=euk-bact.tsv
dev/is110/4_round/results/raw/is110_round-4_domtbl_kingdom=euk-bact.tsv
dev/is110/4_round/results/raw/is110_round-4_hits_kingdom=euk-bact.tsv
dev/is110/4_round/results/is110_round-4_hit-region_80-80_kingdom=all_rep_seq.afa
dev/is110/4_round/results/is110_round-4_hits_1e-5_len-200-1000_kingdom=all.faa
dev/is110/4_round/results/is110_round-4_hits_1e-5_kingdom=all.tsv
dev/is110/4_round/results/is110_round-4_hits_1e-5_kingdom=all.faa
dev/is110/4_round/log_hmmsearch.out
dev/prp31/log_hmmsearch_ga_kingdom=euk.out
dev/prp31/log_hmmsearch.out
dev/prp31_nop5/bbh_argument/dereplicated/log_hmmsearch.out
dev/prp31_nop5/bbh_argument/all_proteins/log_hmmsearch.out
dev/prp31_nop5/phylo_nop-dom/2_iqtree_root=is110/results/nop5_prp31_is110_algo=mafft-local.ckp.gz
dev/prp31_nop5/phylo_nop-dom/2_iqtree_root=is110/results/nop5_prp31_is110_algo=mafft-local.mldist
dev/prp31_nop5/phylo_nop-dom/0_detection/nop58_nop-dom/log_hmmsearch.out
dev/prp31_nop5/phylo_nop-dom/0_detection/prp31_nop-dom/log_hmmsearch.out
dev/prp31_nop5/phylo_nop-dom/2_iqtree/results/nop5_prp31_nop-dom.afa.mldist
dev/prp31_nop5/mixed_hmm_profile/1_round/log_hmmsearch.out
*.html
